<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="admin/layout :: layout (~{::body})">
<body>

<div th:with="content='admin/etudiants/form :: content'"></div>

<div th:fragment="content">
    <h2>Nouvel étudiant</h2>

    <form th:action="@{/admin/etudiants}" method="post">
        <div class="mb-3">
            <input class="form-control" name="matricule" placeholder="Matricule">
        </div>
        <div class="mb-3">
            <input class="form-control" name="nom" placeholder="Nom">
        </div>
        <div class="mb-3">
            <input class="form-control" name="email" placeholder="Email">
        </div>
        <button class="btn btn-success">Enregistrer</button>
    </form>
</div>

</body>
</html>
